.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 5px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-top: 5px !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.form-control {
    border-radius: 0;
}

.table td, .table th {
    padding: .55rem;
}

.form-group {
    margin-bottom: .55rem;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: 0;
}

/* provimi */

#notebook-paper {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 200;
    width: 760px;
    height: 600px;
    background: linear-gradient(to bottom, white 29px, #efefef 1px);
    /*margin: 50px auto;*/
    background-size: 100% 30px;
    position: relative;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 20px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

#notebook-paper:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 140px;
    height: 100%;
    width: 1px;

}

#notebook-paper header {
    height: 150px;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
}

#notebook-paper header h1 {
    font-size: 60px;
    line-height: 60px;
    padding: 127px 20px 0 160px;
    margin: 0;
}

#notebook-paper #content {
    margin-top: 37px;
    font-size: 20px;
    line-height: 30px;
}

#notebook-paper #content p {
    margin: 0 0 0 0;
}

.logo {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50px;
    left: 300px;
}